@import '../../../scss/styles';

.filtersList{
    flex-wrap: nowrap;
    
    padding: 1rem 10vw;
    
    .inner{
        display: flex;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
        div{
            margin-top: .5rem;
            
            &:not(:last-child){
                margin-right: .5rem;
            }
        }
    }
    @include for-desktop-up{
        .inner{
            flex-wrap: wrap;
            overflow-y: hidden;
        }
    }
}
