@import '../../../scss/styles';

.filtersList{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;

    padding: 1rem 1rem;

    div{
        margin-top: .5rem;
        
        &:not(:last-child){
            margin-right: .5rem;
        }
    }
    @include for-desktop-up{
        flex-wrap: wrap;
        overflow-y: hidden;
    }
}
