@import './../../../scss/styles';

.projectDisplay{
    padding: 5vh 10vw 5vh 10vw;
    width: 100%;
    color: $white-0;

    .image{
        width: 100%;
        height: 10vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img{
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .title{
        padding: 1rem 0;
        font-size: 1.75rem;
        text-transform: capitalize;
        font-weight: 500;
    }
    .stacks{
        .subTitle{
            font-weight: 500;
            font-size: 1.25rem;
            padding-bottom: .5rem;
            text-transform: capitalize;
        }
        .stack{
            opacity: .5;
            &:not(:last-child){
                padding-bottom: .25rem;
            }
        }
    }
    .links{
        padding-top: 2rem;
        a{
            display: block;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
        .linkToMore{
            color: $highlited-0;
            text-transform: capitalize;
        }
    }
}

@include for-desktop-up{
    .projectDisplay{
        .image{
            width: 100%;
            height: 50vh;
        }
        .title{
            padding: 1.25rem 0;
            font-size: 2.25rem;
        }
        .stacks{
            .subTitle{
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            .stack{
                opacity: .5;
                &:not(:last-child){
                    padding-bottom: .5rem;
                }
            }
        }
        .links{
            padding-top: 2.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            a:not(:last-child){
                margin-bottom: 0rem;
            }
        }
    }
}