@keyframes animateOpacityComponentAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.animate-opacity-component {
    $animationDuration: .3s;
    .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        opacity: 0;
        &.entering{
            display: block;
            animation: animateOpacityComponentAnimation $animationDuration ease forwards;
        }
        &.exiting{
            animation: animateOpacityComponentAnimation $animationDuration ease reverse forwards;
        }
        &.showing{
            opacity: 1;
            display: block;
        }
        &.notShowing{
            display: none;
            opacity: 0;
        }
    }
}