@import '../../scss/styles';

.main{
    .hero{
        height: 100vh;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;

        padding: 20vh 15vw;

        
        
        position: relative;
        &::after{
            content: '';
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
            
            background-blend-mode: overlay, overlay, difference, difference, difference, normal;
            background-image: $colorful-bg;
            background-size: cover;
            background-position: center;
        }

        color: $white-0;
        background: linear-gradient(360deg, #0B0B0B 0%, rgba(11, 11, 11, 0) 100%);

        .left{
            height: 100%;
            min-width: 50%;

            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            align-content: center;

            &_title{
                h2{
                    font-weight: 400;
                    font-size: 2.25rem;
                    strong{
                        font-weight: 500;
                    }
                }
            }
            &_buttons{

            }
        }
        .right{
            height: 100%;
            flex-grow: 1;
            min-width: 50%;
            
            .highlightedProjects{
                height: 100%;
            }
        }
    }
}