@import '../../scss/styles';

.contactComponent{
    color: $white-0;
    padding: 10vw 10vw;

    .title{
        font-weight: 500;
        font-size: 1.75rem;
        padding-bottom: 1rem;
    }

    .subtitle{
        font-size: 1.25rem;
        color: $highlighted-0;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    .socials{
        padding: 1rem 0;
        .socialsLinks{
            padding-left: 1rem;
            list-style-type: none;
            li{
                &:not(:first-child){
                    margin-top: .5rem;
                }
                a{
                    color: $white-0;
                }
            }
        }
    }
}

@include for-desktop-up{
    .contactComponent{
        padding: 1rem 10vw;
    
        .title{
            font-size: 2rem;
            padding-bottom: 1rem;
        }
    
        .subtitle{
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
        }
    
        .socials{
            .socialsLinks{
                padding-left: 1rem;
                li:not(:first-child){
                    margin-top: 1rem;
                }
            }
        }
    }
}