@import './../../scss/styles';

.main{
    display: block;
    .indicators{
        &_title {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;

            padding: 5vh 10vw 0 10vw;

            h2 {
                color: $white-0;
                font-weight: 500;
                text-transform: capitalize;
            }
            a {
                color: $highlited-0;
            }
        }
        &_indicators{

        }
    }
    .project{
        // background: rgba(218, 71, 71, 0.452);
    }
}