@import './../../scss/styles';

.main{
    display: block;
    .indicators{
        padding: 2vh 10vw 0 10vw;
        &_title {
            display: block;


            h2 {
                color: $white-0;
                font-weight: 500;
                text-transform: capitalize;
                padding-bottom: 1rem;
            }
            a {
                color: $highlighted-0;
            }
        }
        &_indicators{
            overflow: hidden;
        }
    }
}

@include for-desktop-up{
    .main{
        .indicators{
            &_title {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;
            }
        }
    }
}